.take_test_container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.take-test-question
{
	margin-bottom: 32px;
}

.radio_wrapper
{
	display: flex;
	align-items: center;
}

.radio_input
{
	margin-right: 8px; /* Adjust the spacing between radio buttons and labels */
}

.radio_label
{
	white-space: nowrap; /* Prevent labels from appearing on new lines */
}

.test-title
{
	margin: 4px;
}

.mark-icon
{
	margin-left: 8px;
}
